@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';


#admin{
    height: 100vh;
    overflow: hidden;
    background-color: $db-bg;
    display: flex;
    #sidebar{
        width: 100px;
        border-right: 1px solid black;
        background-color: $db-details;
        ul{
            padding: 0 5px 0 5px;
            margin-top: 20px;
            li{
                list-style: none;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                color: $db-secondary;
                &.active{
                    color: rgb(243, 213, 115);
                }
                // @include media-breakpoint-up(md){
                //     margin-right: 5px;
                // }
                i{
                    width: 20px;
                    font-size: 1.2rem;
                    // @include media-breakpoint-up(md){
                    //     margin-right: 5px;
                    // }
                }
                span{
                    display: none;
                    width: 50px;
                    // @include media-breakpoint-up(md){
                    //     display: inline-block;
                    // }
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        height: 100%;
        overflow: auto;
    }
    @include media-breakpoint-up(md){
        #sidebar{
            width: 150px;
                ul{
                    padding: 0 5px 0 5px;
                    li{
                        margin: 0 0 20px 10px;
                        justify-content: start;
                        i{
                            margin-right: 5px;
                            }
                        span{
                            display: inline-block;
                        }
                    }
                }
            }      
        }
    #wrapper{
        flex-grow: 1;
        header{
            height: 50px;
        }
    }
}

header{
    background-color: $db-bg;
    .img-profile{
        width: 20px
    }
}

#index{
    .col-slug{
        width: 150px;
    }
}